/* utility */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display:wght@400;700&family=Poppins:wght@300;500;600&display=swap');

body, .pure-g [class *= "pure-u"] {
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.42857;
    color: #838383;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  /* font-family:  "Abril Fatface", "Times New Roman", Times, serif; */
  font-family:  "Playfair Display", "Times New Roman", Times, serif;
  font-weight: 900;
  letter-spacing: 1px;
  margin: 0;
  color: #3d4c5a;
 }


h1, .h1 {
    font-size: 3em; }
  
  h2, .h2 {
    font-size: 2.5em; }
  
  h3, .h3 {
    font-size: 2em; }
  
  h4, .h4 {
    font-size: 1.5em; }

.text-center{
    text-align: center;
}

.block{
    display: block;
}
/* navigation */
.pure-menu{
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

.menu-container{
    max-width: 1200px;
    margin: auto;
    padding: 1em;
}

.pure-menu-list{
    float: right;
}

.pure-menu-selected > .pure-menu-link, .pure-menu-selected > .pure-menu-link:visited{
    color: #3d4c5a;
    font-weight: bold;
}

/* logo */
.pure-menu-horizontal .pure-menu-heading.logo{
    letter-spacing: -5px;
    min-height: 50px;
    min-width: 50px;
    padding: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 5px double #fff;
    border-radius: 100%;
    background: #3d4c5a;
    color: #fff;
    color: rgb(255 255 255 / 87%);
}
.logo .d{
    transform: scale(-1, -1);
    display: inline-block;
}


/* hero */
.hero{
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    min-height: 80vh;
    padding: 1em;
}


.pure-form{
    width: 60vw;
}

.pure-form .pure-button{
    min-width: 200px;
}

.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected{
    background-color: #3d4c5a;
}

.days-of-week, .date-grid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}


/* calendar */
.results{
    padding: 2em;
}

.calendar{
    margin-top: 2em;
    box-shadow: 0 5px 20px rgb(0 0 0 / 30%);
    border-radius: 10px;
}

.calendar-title-container{
    position: sticky;
    top: 117px;
    z-index: 100;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.calendar-title{
    padding: .5em;
    background-color: #3d4c5a;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.calendar-years, .font-3{
    font-family:  "Abril Fatface", "Times New Roman", Times, serif; 
}

.days-of-week{
    border-bottom: 1px solid;
    background: #fff;
}

.days-of-week div{
    padding: .5em;
    font-weight: bold;
}

.date-grid{
    list-style: none;
    padding: 1em;
    margin: 0;
    column-gap: 10px;
    row-gap: 10px;
    background-color: #fff;
}

/* each date */
.date-grid li{
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #ccc;}

.date-grid .item{
    padding-top: 1em;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 50% 50%;
    min-height: 350px;
    position: relative;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    visibility: none;
    display: grid;
    align-items: center;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}

.details-button{
    background: none;
    border: 1px solid #fff;
    color: #fff;
    display: none;
    transition: display 0.5s ease;
}

.date-grid .item:hover{
    box-shadow: 0 5px 10px 2px rgb(0 0 0 / 20%);
}

.date-grid .item .overlay:hover {
    background: #3d4c5a;
    background: rgb(61 76 90 / 85%);
    
}

.date-grid .item .overlay:hover .details-button{
    display: block;
    
}

.icon{
    border-radius: 100%;
}

.description {
    margin: 0;
}

.temperature{
    margin: 10px;
    font-size: 1.5em;
    font-weight: 500;
}

.info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    justify-items: center;
    border-top: 1px solid #ccc;
}

.info p{
    font-size: 70%;
    margin: 5px 0;
}

.info-group{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
    display: grid;
    align-items: center;
}

.info > div:nth-of-type(1){
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.info > div:nth-of-type(2){
    border-bottom: 1px solid #ccc;
}

.info > div:nth-of-type(3){
    border-right: 1px solid #ccc;
}

.info-label{
    display: grid;
    grid-template-columns: auto auto;
}

.info-data{
    text-align: center;
    font-weight: 500;
}


/* modal */
.details-modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    z-index: 1000;
}

.details-modal.open{
    width: 100%;
    height: 100%;
    transition: height 0.5s ease, width 0.5s ease;
}

.details-modal .menu-container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
}

.details-modal .menu-container .pure-button{
    margin: 0;
    justify-self: end;
}


.modal-dates{
    position: relative;
    top: 152px;
    max-width: 600px;
    margin: auto;
    padding-bottom: 4em;
    display: flex;
    flex-flow: column-reverse nowrap;
}

.modal-year-container{
    background: #fff;
    border-radius: 10px;
    margin-top: 4em;
}

.modal-year{
    padding: 10px;
    background-color: #3d4c5a;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.day, .night{
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
}

.day{
    padding-bottom: 1em;
}

.modal-temp{
    font-size: 15px;
}

.modal-temp .temperature{
    font-size: 1.25em;
}

.modal-info{
    display: grid;
    padding: 10px 0 10px 1em;
}

.info-title{
    margin: 0;
    padding-bottom: 10px;
    font-weight: 400;
}

.modal-info .date-quickinfo{
    display: flex;
    align-items: center;
}

.modal-subinfo .info-group{
    grid-template-columns: 15% 30% 50%;
    padding: 0 0 5px 1em;
    justify-items: flex-start;
    font-size: 15px;
}

.modal-subinfo .info-group p{
    margin: 0;
    padding: 0;
}


